<% if notice %>
	<p id="notice"><%= notice %> </p>
<% end %>

<h1>Your pragmatic catalog</h1>
<% @products.each do |v| %>
	<div class="entry">
		<%= image_tag(v.image_url) %>
		<h3><%= v.title %></h3>
		<%= sanitize(v.description) %>
		<div class="price_line">
			<span class="price"><%= number_to_currency v.price %></span>
		</div>
	</div>
<% end %>

